<%- include("../includes/header.ejs", {title:"Add a new Record Label"}); %>

<h1>Add a New Record Label</h1>
<form action="/label/insert" method="get">
    Record Label Name: <input id="label_name" name="label_name" type="text" />
    <br />
    <br />
    Address
    <br />
    Street: <br> <input id="street" name="street" type="text"/>
    <br />
    City: <br> <input id="city" name="city" type="text"/>
    <br />
    State: <br> <input id="state" name="state" type="text"/>
    <br />
    Zip Code: <br> <input id="zip" name="zip" type="text"/>
    <br />
    Year Founded: <br> <input id="year_founded" name="year_founded" type="text"/>
    <br />
    Signed Bands
    <br />
    <select id="band_id" name="band_id" multiple="multiple">
        <% for(var i=0; band.length > i; i++ ) { %>
        <option value="<%= band[i].band_id %>"><%= band[i].band_name %><option>
            <% } %>
    </select>

    <!-- Initialize the multiselect plugin: -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#band_id').multiselect();
        });
    </script>


    <br />
    <input type="submit" onclick="alert('Record Label Added!')">

</form>

<%- include("../includes/footer.ejs"); %>