<!DOCTYPE html>
<html>
<body>

<h1>The Music Database</h1>

<p>Welcome to the Music Database! Here, we track the current status of the musical world. Current record labels are
    always changing the artists they sign, and this is the one place you can find out who's who in the world of music.
    In addition, the current lineup of some of the world's most famous bands are featured here, along with some
    information about them, and the bands they perform in. This database is helpful for anyone who wishes to know what
    companies their favorite artists are signing with, and also where to find those companies if they desire a career
    in the music business.</p>

</body>
</html>