<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <a href="/label/all">Labels - View All</a> <br/>
    <a href="/band/all">Bands - View All</a><br/>
    <a href="/member/all">Members - View All</a><br/>

    <blockquote class="imgur-embed-pub" lang="en" data-id="a/8nkuw"><a href="//imgur.com/8nkuw"></a></blockquote><script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script>


    <br />

  </body>
</html>
