<html>
    <head>
        <title>Resumes</title>
    </head>
    <body>
        <h1>Resumes</h1>
        <table border="1">
            <tr><th>Resumes ID</th><th>Account ID</th><th>resumes_name</th></tr>
            <% for(var i=0; result.length > i; i++ ) { %>
            <tr>
                <td><%= result[i].resumes_id%></td>
                <td><a href="/resumes/?resumes_id=<%= result[i].resumes_id %>"><%= result[i].account_id %></a></td>
                <td><%= result[i].resumes_name %></td>
            </tr>
            <% } %>
        </table>
    </body>

</html>